/* Import Tailwind CSS Library */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Define global variables or extend default values */
$fa-font-path : "@fortawesome/fontawesome-free/webfonts";
$primary-color: #f4b350;
$secondary-color: #ff6d6d;

/* Extend Tailwind CSS Configurations */
@layer base {
  body {
    @apply bg-gray-200;
  }
}

@layer components {
  button {
    @apply border-transparent bg-$primary-color text-black font-semibold py-2 px-4 rounded-lg shadow-md hover:
